/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #2f3640;/* Black background */
    color: #fbc531; /* Yellow text */
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .header {
    border-radius: 10px; /* Smooth border radius */
    background-color: #353b48; /* White background */
    color: #fbc531    ; /* Black text */
    padding: 20px;
    text-align: center;
  }
  
  .nav-menu {
    margin-top: 20px;
  }
  
  .nav-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .nav-menu ul li {
    margin-bottom: 10px;
  }
  
  .nav-menu ul li a {
    border-radius: 10px; /* Smooth border radius */
    display: block;
    padding: 10px;
    background-color: #f5f6fa    ; /* White background */
    color:#2f3640; /* Black text */
    text-decoration: none;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .nav-menu ul li a:hover {
    background-color: #2f3640; /* Darker background on hover */
    color:  #f5f6fa    ; /* White text on hover */
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1)
  }
  
  .nav-menu ul li:last-child a {
    background-image: linear-gradient(to right,#fbcb45,  #e1b12c); /* Gradient background */
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1), inset 0 4px 4px 3px rgba(255, 255, 255, 0.3);
    color: #2f3640; /* Black text for logout button */
  }
  
  .nav-menu ul li:last-child a:hover {
    background-image: linear-gradient(to bottom, #e1b12c, #e1b12c); /* Gradient background */
      box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1), inset 0 4px 4px 3px rgba(255, 255, 255, 0.3);
  }
  
  .nav-menu ul li a::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .nav-menu ul li:nth-child(1) a::before {
    background-image: url('user_settings_icon.png'); /* Replace with actual path to icon */
  }
  
  .nav-menu ul li:nth-child(2) a::before {
    background-image: url('cashmanagement_icon.png'); /* Replace with actual path to icon */
  }
  
  .nav-menu ul li:nth-child(3) a::before {
    background-image: url('audit_trail_icon.png'); /* Replace with actual path to icon */
  }
  
  .nav-menu ul li:nth-child(4) a::before {
    background-image: url('item_settings_icon.png'); /* Replace with actual path to icon */
  }
  
  .nav-menu ul li:nth-child(5) a::before {
    background-image: url('discounts_icon.png'); /* Replace with actual path to icon */
  }
  
  .nav-menu ul li:last-child a::before {
    background-image: url('logout_icon.png'); /* Replace with actual path to icon */
  }
  