/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2f3640;
    font-family: 'Inter', sans-serif;
}

/* Basic styling for the form */
form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f5f6fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form select {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 20px); /* Adjusting width */
    border: none;
    border-radius: 16px;
    box-shadow: inset 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #e8f0fe;
}

form input[type="submit"] {
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 16px;
    background-color: #fbcb45;
    color: #353b48;
    font-weight: bold;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #e1b12c;
}

/* Styling for the error message */
#error {
    color: red;
    margin-top: 10px;
}

/* Styling for the success message */
#success {
    color: green;
    margin-top: 10px;
}

/* Basic styling for the navigation */
nav {
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    background-color: #2f3640;
    padding: 12px 20px;
    border-bottom: 1px solid #f5f6fa; /* Add bottom border */
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  
}

nav ul {
    list-style-type: none;
}

.logo {
    display: flex;
    align-items: center;
}

.text_logo {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 32px;
    color: #fbcb45;
}
/* Styling for the logo */
.logo img {
    margin-left: 80px;
    height: auto;
    width: 80px /* Adjust the width as needed */
  }
  

  a {
    margin-left: auto;
    margin-right: auto;
    color: #fbcb45;
    text-decoration: none;
}


form input[type="email"],
form input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    width: calc(100% - 20px); /* Adjusting width */
    border: none;
    border-radius: 16px;
    box-shadow: inset 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #e8f0fe;
}