/* Global Styles */
body {
    font-family: 'Inter', sans-serif;
    background-color:#c9ced6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2f3640;
}

.table-container {
    margin: 0 auto; /* Centering the table */
}

table {
    margin-top: 4%;
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}


table, th, td {
    
    border: 1px solid #2f3640;
}

th, td {
    padding: 10px;
}

th {

    background-color: #fbcb45;
    color: #2f3640;
}

td {
    background-color: #2f3640;
    color: #c9ced6;
}

a {
    margin-left: auto;
    margin-right: auto;
    color: #fbcb45;
    text-decoration: none;
}

a:hover {
    color: #f5f6fa;
    text-decoration: none;
}


/* Basic styling for the navigation */
nav {
    display: flex;
    justify-content: space-between; /* Align items horizontally */
    align-items: center; /* Align items vertically */
    background-color: #2f3640;
    padding: 12px 20px;
    border-bottom: 1px solid #f5f6fa; /* Add bottom border */
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.1); /* Add shadow */
  
}

nav ul {
    list-style-type: none;
}

.logo {
    display: flex;
    align-items: center;
}

.text_logo {
    font-weight: bold;
    margin-left: 10px;
    margin-top: 6px;
    font-size: 32px;
    color: #fbcb45;
}
/* Styling for the logo */
.logo img {
    margin-left: 80px;
    height: auto;
    width: 80px /* Adjust the width as needed */
  }
.modify{
    text-align: center;
}



#button{margin-top: 8px;
    margin-bottom: 10px;
    height: 20%;
    width: 100%;
    padding: 10px 20px;
    background-image: linear-gradient(to right,#fbcb45,  #e1b12c); /* Gradient background */
    color: #353b48;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1), inset 0 4px 4px 3px rgba(255, 255, 255, 0.3);}
    
