.maincontainer {
    display: flex;
    justify-content: space-between;
}

.maincontent, .sidebar{

    color:  #2f3640;
    background-color:  #f5f6fa ;
    border-radius: 10px; /* Rounded corners */
}

.maincontent {
    margin-block: 2%;
    margin-left: 2%;
    margin-right: 1%;
    width: 70%;
    padding: 20px;
}

.sidebar {
    margin-block: 2%;
    margin-left: 1%;
    margin-right: 2%;
    width: 30%;
    padding: 20px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border-bottom: 3px solid  #2f3640;
    padding: 8px;
    text-align:center;
}

th {
    background-color: #f2f2f2;
}



.receipt {
    padding: 20px;
    background-color: f5f6fa ;
    margin-bottom: 20px;
    border-radius: 10px; /* Rounded corners */
    text-align: center;
    border: 2px solid #2f3640;
}


button{
    margin-bottom: 10px;
    padding-block: 10px;
    padding-inline: 8px;
    width: 100%;
    border: none;
    border-radius: 16px;
    box-shadow: inset 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #e8f0fe;
}

#opentickets, #total-button, #changebtn, #make-receipt,#paylater,#gcash,#barsearchbtn,#start-stop-button{
    width: 100%;
}

button {
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1), inset 0 3px 4px 3px rgba(255, 255, 255, 0.3);
    background-image: linear-gradient(to right,#fbcb45,  #e1b12c);
    color: #353b48;
    /* background-color: #353b48; */
    /* color: #f5f6fa; */
    border: none;
    cursor: pointer;
}

#total-button{
    font-weight: bold;
    background-image: linear-gradient(to right,#fbcb45,  #e1b12c); /* Gradient background */
    color: #353b48;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
    font-weight: bold;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.1), inset 0 4px 4px 3px rgba(255, 255, 255, 0.3);
}


button:hover {
    background-color: #1d2025;
}

#total-button:hover{
color: #202021;
background-image: linear-gradient(to bottom, #d2a62c, #cca230); /* Gradient background */
}


.receipt {
    padding: 20px;
    background-color: f5f6fa ;
    margin-bottom: 20px;
    border-radius: 10px; /* Rounded corners */
}

.buttons {
    margin-top: 20px;
    align-items: center;
}

#start-stop-button {

    width: 100%;
}

#error {
    color: red;
}

.custom-select {
    box-shadow: inset 0 3px 2px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 200px; /* Adjust width as needed */
    padding-inline: 10px;
    padding-block: 6px;
    font-size: 16px;
    border: 1px solid #f5f6fa;
    background-color: #e8f0fe;
    border-radius: 24px;
    appearance: none;
    text-align: center;
}

  .custom-select::after {
    content: '\25BC'; /* Unicode for down arrow */
    position: absolute;
    transform: translateY(-50%);

  }
  
  /* Hover effect */
  .custom-select:hover {
    border-color: #999;
  }
  
  /* Focus effect */
  .custom-select:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling for dropdown options */
  .custom-select option {
    padding: 10px;
  }
  
  
